html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
}
@media (min-width: 576px)
{
    .container {
        max-width: 600px;
    }

}

@media (min-width: 768px)
{
    .container {
        max-width: 845px;
    }
}


@media (min-width: 992px){
    .container {
        max-width: 1000px;
    }
}



@media (min-width: 1200px){
    .container {
        max-width: 1100px;
    }
}
.img-obaid{
    border-radius: 80px;
    border: 4px solid #ffd62e;
    /*width: 80%;*/


}
.obaid-img{
    margin-top: 65px;
}
.span-title{
    font-size: 20px;


}
.part-1{
    margin-top: 50px;
    border-bottom: 2px dashed black;
}
.part1{
    display: grid;
    justify-content: end;
    align-content: end;
}
.p-part1{
    color: #454140;
}
.h1-part1{
    color: #ffd62e ;
}
.part-2{
    margin-top: 16px;
    border-bottom: 2px dashed black;
    margin-bottom: 20px;
}
.part2{
    margin-top: 10px;
    margin-bottom: 50px;
}
.chart-icon{

    padding-top: 7px;
    color: white;
    display: grid;
    justify-items: center;
}

.icon-chart{
    background-color: #ffd62e ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.chart{
    margin-bottom: 10px;
}
.chart-1{
    position: relative;
    height: 10px;
    width: 100%;
    background-color: gray;
    border-radius: 3px;
    margin-top: 5px;
}
.chart-2{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 98%;
    height: 100%;
    border-radius: 3px;
}
.chart-3{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 94%;
    height: 100%;
    border-radius: 3px;
}
.chart-4{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 90%;
    height: 100%;
    border-radius: 3px;
}
.chart-5{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 90%;
    height: 100%;
    border-radius: 3px;
}
.chart-6{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 75%;
    height: 100%;
    border-radius: 3px;
}

.part-3{
    border-bottom: 2px dashed black;
    margin-bottom: 16px;
}
.part3{
    margin-bottom: 16px;


}
.h5-work{
    margin-top: 20px;
}
.p-work{
    margin-bottom: 50px;
}
.part-4{
    border-bottom: 2px dashed black;
    margin-bottom: 16px;
}

.part4{
    margin-top: 16px;
}

.chart-e{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 95%;
    height: 100%;
    border-radius: 3px;
}
.chart-g{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 80%;
    height: 100%;
    border-radius: 3px;
}
.chart-p{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.chart-k{
    position: absolute;
    background-color: #ffd62e;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.p-profile{
    margin-top: 10px;
    margin-bottom: 20px;
}




.history-tl-container{
    font-family: "Roboto",sans-serif;
    /*width:50%;*/
    margin:auto;
    display:block;
    position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    /*margin-left:200px;*/
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed black;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -10px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: black;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  black;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;

    left: -30%;
    text-align: right;
    font-size: 12px;
}
@media (max-width: 768px){
    ul.tl li .timestamp {
        left: -84%;
    }
}
@media (max-width: 576px){
    ul.tl li .timestamp {
        left: -162%;
    }
}

.timestamp-2{
    color: #8D8D8D;
    position: absolute;

    left: -43%;
    text-align: right;
    font-size: 12px;
}
@media (max-width: 768px){
    ul.tl li .timestamp-2 {
        left: -50%;
    }
}
@media (max-width: 576px){
    ul.tl li .timestamp-2 {
        left: -77%;
    }
}

.history-tl-container ul.tl li.tl-item{
    border-left: 1.5px dashed black;
}
