<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Farzan Badakhshan</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="farzan.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <link rel="shortcut icon" href="img/logo-2-atlann (1).ico" type="image/x-icon"/>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="obaid-img ">
                    <img src="img/farzan-2.png" class="img-obaid text-center" alt="">
                </div>

            </div>
            <div class="col-md-9 ">
                <div class="part-1">
                    <h1 class="part1 h1-part1">FARZAN BADAKHSHAN</h1>
                    <p class="part1 p-part1">SENIOR WEB APPLICATIONS & SOFTWARE ENGINEER</p>
                </div>
                <div class="part-2">
                    <span>
                        <span class="icon-chart"><i class="fa fa-pie-chart chart-icon" aria-hidden="true"></i></span>
                        <span class="span-title" >PROFESSIONAL SKILLS</span>
                    </span>
                    <div class="row part2">
                        <div class="col-md-4">
                            <ul>
                                <li class="chart">PHP
                                    <div class="chart-1">
                                        <span class="chart-2"></span>
                                    </div>
                                </li>
                                <li class="chart">Laravel
                                    <div class="chart-1">
                                        <span class="chart-3"></span>
                                    </div>
                                </li>
                                <li>Lumen
                                    <div class="chart-1">
                                        <span class="chart-4"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li class="chart">MySQL
                                    <div class="chart-1">
                                        <span class="chart-5"></span>
                                    </div>
                                </li>
                                <li class="chart">Android
                                    <div class="chart-1">
                                        <span class="chart-6"></span>
                                    </div></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="part-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                            <span class="part3">
                             <span class="icon-chart"><i class="fa fa-briefcase chart-icon" aria-hidden="true"></i></span>
                             <span class="span-title" >WORK EXPERIENCE</span>
                               </span>
                                <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
                                <div class="col-3 col-sm-6 col-md-12  history-tl-container">
                                    <ul class="tl">
                                        <li class="tl-item" ng-repeat="item in retailer_history">
                                            <div class="timestamp">
                                                PHP-Backend Developer<br> March 2019 – Present
                                            </div>
                                            <div class="item-title">Pepehousing Senior - Warsaw, Poland (Remote)</div>
                                            <div class="item-detail">Maintaining and updating the backend side, along with effectively adding customer’s desired
                                                functionalities on both backend and frontend sides. Project Management.</div>
                                        </li>
                                        <li class="tl-item" ng-repeat="item in retailer_history">
                                            <div class="timestamp">
                                                PHP-Backend Developer<br> February 2019 – March 2019
                                            </div>
                                            <div class="item-title">Many.com</div>
                                            <div class="item-detail">Effectively maintained and updated the backend part, along with creating a full API-documentation of
                                                the whole backend part</div>
                                        </li>
                                        <li class="tl-item" ng-repeat="item in retailer_history">
                                            <div class="timestamp">
                                                Freelance Java, Android and PHP<br>
                                                (Laravel & Lumen) Developer<br>June 2015 – March 2018
                                            </div>
                                            <div class="item-title">Freelance Developer </div>
                                            <div class="item-detail">Developing Android mobile apps with PHP backend.</div>
                                        </li>
                                        <li class="tl-item" ng-repeat="item in retailer_history">
                                            <div class="timestamp">
                                                International Department<br>
                                                Coordinator<br> February 2015 – June 2015
                                            </div>
                                            <div class="item-title">Iran Assistance Insurance (SOS)</div>
                                            <div class="item-detail">Contacting contacted foreign insurance companies and coordinating joint tasks. Customer support./div>
                                        </li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="part-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                            <span class="part3">
                           <span class="icon-chart"><i class="fa fa-graduation-cap chart-icon" aria-hidden="true"></i></span>
                        <span class="span-title" >EDUCATION</span>
                               </span>
                                <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
                                <div class="col-6 col-md-12 history-tl-container">
                                    <ul class="tl">
                                        <li class="tl-item" ng-repeat="item in retailer_history">
                                            <div class="timestamp-2">
                                                <br>2013 - 2018

                                            </div>
                                            <div class="item-title">Qazvin Azad University</div>
                                            <div class="item-detail">Master Of Computer Networks and
                                                Telecommunications</div>
                                        </li>
                                        <li class="tl-item" ng-repeat="item in retailer_history">
                                            <div class="timestamp-2">
                                                <br>2007-2013

                                            </div>
                                            <div class="item-title">University Of Kurdistan</div>
                                            <div class="item-detail">Bachelor of Information Technology
                                                Engineering</div>
                                        </li>


                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="part-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                    <span class="part5">
                            <span class="icon-chart"><i class="fa fa-user chart-icon" aria-hidden="true"></i></span>
                    <span class="span-title" >Profile</span>
                               </span>
                                        <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
                                        <div class=" col-md-12 history-tl-container">
                                            <ul class="tl">
                                                <li class="tl-item" ng-repeat="item in retailer_history">
                                                    <div class="timestamp-2">


                                                    </div>
                                                    <div class="item-title">I am a PHP developer and have been developing php<br>
                                                        web-apps for 4 more than years. Having mastered<br>
                                                        Laravel and Lumen frameworks, I believe I will be able to<br>
                                                        handle php projects very well in a Team, due to my<br>
                                                        programming, social, and lingual (English, German,<br>
                                                        Persian, and Kurdish) skills.</div>

                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="icon-chart"><i class="fa fa-globe chart-icon" aria-hidden="true"></i></span>
                                        <span class="span-title" >LANGUAGE</span>
                                        <ul class="p-profile">
                                            <li class="chart">PERSIAN
                                                <div class="chart-1">
                                                    <span class="chart-k"></span>
                                                </div></li>
                                            <li>KURDISH
                                                <div class="chart-1">
                                                    <span class="chart-p"></span>
                                                </div>
                                            </li>
                                            <li class="chart">ENGLISH
                                                <div class="chart-1">
                                                    <span class="chart-e"></span>
                                                </div>
                                            </li>
                                            <li class="chart">GERMAN
                                                <div class="chart-1">
                                                    <span class="chart-g"></span>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</section>
<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">


</div>
</body>
</html>