html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

@media (min-width: 576px) {
    .container {
        max-width: 600px;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 845px;
    }
}


@media (min-width: 992px) {
    .container {
        max-width: 1000px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

.welcome {
    background-color: #15172d;
    font-family: "Courier New";
    color: #98f9a1;
    width: 100%;
    height: 100vh;
}

#upper-typed {
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 100px;
}

button {
    box-shadow: none !important;
}

.h2-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
    /*margin-bottom: 15px;*/
    /*letter-spacing: -.3px;*/


}

h6 {
    color: #454140;
}


/*.text-brand:after{*/
/*    color:white;*/
/*    display: inline-block;*/
/*    content:"";*/
/*    margin-left:2px;*/
/*    height: 3px;*/
/*    width: 3px;*/
/*    border-radius: 50%;*/
/*    background-color: white;*/
/*}*/

.hero {
    background-image: url(img/hero-bg.png);
    height: 773px;
}

.h2-hero {
    margin-bottom: 1rem;
}


.p-hero {
    color: #454140;
    font-size: 16px;
}

.btn-outline-secondary {
    color: white;
    background: #454140;
    border-color: #454140;
}

.btn-outline-secondary:hover {
    color: #454140;
    border-color: #454140;
    background-color: white;
}

.btn.btn-outline-secondary {
    top: 10.5%;
    border-radius: 50px;
    right: 5%;
    position: absolute;
    height: 80%;
    width: 35%;
    z-index: 1000;
}

.btn-chat {
    color: white;
    background: #454140;
    border-color: #454140;
    background-clip: padding-box;

    border-radius: 30px;
    height: 60px;
    width: 50%;
    margin-top: 50px;
}

.btn-chat:hover {
    background-color: white;
    border-color: #454140;
    color: #454140;

}

.btn {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border: none;
}

.menu-icon {
    margin-left: 75px;

}

.hero-image {
    width: 600px;
    height: 800px;
    background-image: url(img/hero_home.png);
    position: absolute;
    /*top:78px;*/
    /*right: -20px;*/
    top: -147px;
    right: -81px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 830px) {
    .hero-image {
        top: -147px;
        right: -134px;
    }
}

@media (max-width: 768px) {
    .hero-image {
        display: none;
    }
}

.img-logo {
    height: 80px;
    margin-right: 10px;;
}

.menu-icon a {
    background-color: #454140;
    height: 40px;
    width: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.navbar {
    padding-top: 1.6rem;
    padding-bottom: 8rem;
}

#navbar2 {
    display: none;
    background-color: #ffd62e;
    position: fixed;
    width: 100%;
    z-index: 100%;
    z-index: 10000;
}

.nav-home {
    color: #454140;
    font-weight: 600;
}

.nav-home:hover {
    color: #ffce07;
    background-color: white;
    transition: 1s;
    padding: 6px;
}

.dropdown .nav-h {
    display: inline-block;
    box-shadow: none;
}

.navbar-brand {
    font-weight: 800;
}


@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        /* margin-top: 150px; */
        width: 80%;
        z-index: 2000;
    }

    .navbar-nav {
        width: 100%;
        position: absolute;
        top: 50px;
    }

    .navbar-nav .nav-item {
        width: 100%;
        background-color: #454140;
        display: block;
        float: left;
        width: 90%;
        padding: 10px 5%;
        margin: 0;
        text-align: left;
        color: white;
        border-top: 1px solid #383838;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-icon {
        display: none;
    }

}


.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}

.navbar-nav .nav-item:first-child .nav-link {
    color: white;
}

@media (max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
        color: white;
        font-weight: 600;
    }
}

.navbar-light .navbar-nav .show > .nav-link {
    color: white;
    box-shadow: none;
}

.navbar-nav .nav-item:nth-child(6) .nav-link {
    color: black;
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
    padding-right: 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    transition: 0.5s;
}


.content {
    max-width: 1140px;
    margin: auto;
    background: white;
    padding: auto;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-prefered-size: auto;
        justify-content: flex-end !important;
        flex-basis: auto;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #f6f6f6;

    border-color: rgba(238, 151, 151, 0.719);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(238, 151, 151, 0.719);
}

.iput-info {
    background-color: hsl(0, 0%, 96%);
    color: #8291ab;

}

/*.form-control{*/
/*    height: 65px;*/

/*   background-color: #f6f6f6;*/
/*}*/
/*.input-group-text{*/
/*    background-color: transparent !important;*/
/*}*/
/*.input-group{*/
/*    padding-left: 0px;*/
/*}*/

/*.contact-input{*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/
/*.icon-contact{*/
/*position: absolute;*/
/*z-index: 20;*/
/*right: 5%;*/
/*top:35%;*/
/*color: #8291ab;*/
/*}*/
/*.icon-contact-2{*/
/*position: absolute;*/
/*z-index: 20;*/
/*right: 7.5%;*/
/*top:7px;*/
/*color: #8291ab;*/
/*}*/
.btn-email {
    padding-left: 0;

    padding-top: 10px;
}

a:hover {
    text-decoration: none;
}

.btn-contact {
    border-radius: 50px;
    background-color: #454140;
    color: white;
    padding: 15px 50px;
    margin-top: 15px;


}

.btn-contact:hover {
    background-color: white;
    color: #454140;
    border-color: #454140;
    transition: 1s;
}


.animation {
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 27%;*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    /*height: 160px;*/
    /*overflow: hidden;*/
    /*font-family: 'Lato', sans-serif;*/
    /*font-size: 35px;*/
    /*line-height: 40px;*/
    /*!*color: #ecf0f1;*!*/
    /*color: black;*/
    /*position: unset;*/
    /* top: 10%; */
    /* left: 27%; */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    /*height: 160px;*/
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;

    position: relative;
    color: black;
    width: 260px;
}

.animation__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    /*padding: 0 28px;*/
}

.animation__container:before {
    content: '[';
    left: 0;
}

.animation__container:after {
    content: ']';
    position: absolute;
    right: 0;

}

.animation__container:after, .animation__container:before {
    position: absolute;
    top: 0;
    color: #c418fb;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: none;
}

.animation__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.animation__container__list {
    margin-top: 0;
    padding: 0;
    /*padding-left: 110px;*/
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.animation__container__list__item {
    line-height: 40px;
    margin: 0;
    font-size: 25px;
    font-weight: lighter;
}

@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%, 12.66%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
}

ul {
    list-style: none;
}


.arrow-link:focus {
    box-shadow: #454140;
}

.arrow-nav {
    display: grid;
    margin-left: auto;
    max-width: max-content;
}

.arrow-icon {
    color: #454140;

}

.arrow-icon {
    color: #c418fb;

}

/*.arrow-box{*/
/*    padding-top: 30px;*/
/*}*/


.hero-input-box {
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* border-radius: 30px; */
    /* border-top-right-radius: 30px !important;  */
    border-bottom-right-radius: 30px !important;
    padding-left: 40px;
    border: 1px solid #7d8ca8;
}

.p-input {
    line-height: 56px;
}

.hero-input {
    width: 50% !important;
    height: 101%;
    /* border-radius: 30px; */
    /* border-top-right-radius: 30px !important;  */
    border-bottom-right-radius: 30px !important;
    padding-left: 40px;
    background: white;

    border: 1px solid #454140;
}

.hero-input:focus {
    border: 1px solid #7d8ca8;
    color: #454140;
}

.hero-input:focus::placeholder {
    color: #454140;
}

.hero-input::placeholder {
    color: #454140;
}

.input-hero {
    position: relative;
    right: 18px;
}

.btn .btn-outline-secondary {
    right: 50px;
    position: absolute;
}

.h2-skill {
    padding-bottom: 15px;
    font-size: 30px;
}

.skill-ul {
    padding: 0;
}

.skill {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    font-size: 13px;
}

.img-skill {
    width: 25px;
    margin-right: 6px;
}

.img-system {
    width: 25px;
    margin-right: 6px;
}

.python {
    margin-right: 2px !important;
}

.card-body {
    text-align: center;
    align-self: center;

}

.card-group {
    margin-top: 70px;
    margin-bottom: 70px;
}

.card-group .row {
    justify-content: space-evenly;
}

.card-group .card {
    display: grid;
    /* width: 30%; */
    /* height: 500px; */
    grid-template-rows: 200px 100px max-content;
    justify-items: center;
    align-items: flex-end;
    grid-template-rows: repeat(3fr);
    border-color: whitesmoke;
}


@media (max-width: 768px) {
    .card-group .card:nth-child(2) {
        margin: 30px 0px;
    }
}


.card-img-frontend {
    background-image: url(img/backend.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

.card-img-backend {
    background-image: url(img/frontend.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

.card-img-mobile {
    background-image: url(img/mobile.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

.card-img-system {
    background-image: url(img/system1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

.card-4:hover .card-img-top {
    background-image: url(img/system2.png);
    transition: 1s;
}

.card-group .card-1:hover {
    background-color: #ffce07;
    color: #454140;
    transiton: 1s;

}

.card-group .card-2:hover {
    background-color: #ffce07;
    color: #454140;
    transiton: 1s;
}

.card-group .card-3:hover {
    background-color: #ffce07;
    color: #454140;
    transiton: 1s;

}

.card-group .card-4:hover {
    background-color: #ffce07;
    color: #454140;
    transiton: 1s;

}


/* .arrow-box{
    border-radius: 50%;
    width: 100%;
    height: 100px;
    position: absolute;
    display: block;
    background-color: #f4f3ff;
} 
.feature-icon a{
    display: inline-block;
    height: 50px;
    width: 50px;
    color: #454140;
    line-height: 52px;
    border-radius: 50%;
    background: #f4f3ff;
    font-size: 14px;
    transition: .5s;
}  */
.card-2 .feature-icon a {
    color: #ffce07;
}

.card-1:hover a,
.card-3:hover a {
    color: #ffce07;
    transition: 1s;
}

.card-1:hover .card-img-top {
    background-image: url(img/backend-2.png);
    transition: 1s;


}

.card-2:hover .card-img-top {

    background-image: url(img/frontend-2.png);
    transition: 1s;
}

.card-3:hover .card-img-top {
    background-image: url(img/mobile-2.png);
    transition: 1s;
}

.card-img-top a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.p-s {
    text-align: left;
    color: #454140;
    align-self: center;
    display: grid;
    height: 180px;
}

.h-s {
    padding-bottom: 25px;
}

.start {
    background-color: #ffce07;

}

@media (max-width: 768px) {
    .h2-start {
        font-size: 41px;
    }
}

.p-about {
    line-height: 30px;
    font-size: 18px;

}

@media (max-width: 1280px) {
    .start-image {
        margin-bottom: 50px;
    }
}

.btn-start {

    border-radius: 50px;
    position: absolute;
    color: white;
    background-color: #454140;
    height: 13%;
    width: 42%;
}

.btn-start:hover {
    background-color: white;
    color: #454140;
    border-color: #454140;

}

.solve {
    background: #ffce07;
}

.img-solve {
    margin-top: 20px;
}

.btn-solve {
    background-color: white;
    color: #454140;
    border-color: #eae4ff;
    border-radius: 50px;
    height: 60px;
    width: 92%;
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 46px;
}

.btn-solve:hover {
    background-color: #454140;
    color: white !important;
    border-color: #454140;
}

.btn-solve-2 {
    background-color: #454140;
    color: white !important;
    border-color: #454140;
    border-radius: 50%;
    position: absolute;
    display: grid;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;

}

.btn-solve-2:hover {
    background-color: white;
    color: #454140 !important;
}

.btn-solve-2 i {
    padding-left: 5px;
}

.check-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    border: 2px solid #454140;
    font-size: 12px;
    margin-right: 20px;
    float: left;
    display: block;
    transition: .3s;
}

.check-icon:hover {
    background-color: #454140;
    color: white;
    border-color: #454140;

}

.check-icon-list {
    list-style: none;
}

.check-icon-list li {
    display: grid;

    grid-template-columns: max-content 1fr;
}

.grow {
    background-color: #ffce07;
    padding-top: 130px;
    padding-bottom: 130px;
}

.h2-grow {
    margin-bottom: 40px;
}

.card-img-grow {
    height: 50px;
    width: 50px;
    margin: auto;
    margin-left: inherit;
}

.card .card-grow {
    text-align: left;
}


.btn-grow {
    border-radius: 50px;
    background-color: #454140;
    color: white;
    padding: 25px 65px;
    margin-top: 40px;
}

.btn-grow:hover {
    background-color: white;
    color: #454140;
    border-color: #454140;
}

.card-deck .card {
    border: none;
    display: grid;
    text-align: left;
    background-color: #ffce07;

}

.Angeles {
    padding-top: 120px;
    margin-bottom: 50px;
}

.btn-Angeles {
    border-radius: 50px;
    color: white;
    background-color: #454140;
    /* height: 20%; */
    width: 50%;
    position: absolute;
    padding: 20px;
}

.btn-Angeles:hover {
    color: #454140;
    background-color: white;
    border: 2px #454140 solid;

}

.angeles-button-box {
    display: grid;
    align-items: center;
    justify-items: end;
    justify-items: center;

}

@media (max-width: 768px) {
    .angeles-button-box {
        margin-top: 67px;
    }
}

.slider {
    padding: 100px;
}

.team-slider .person-picture {
    height: 250px;
    padding: 0;
}

.team-slider .person-1 {

    background-image: url(img/avatar-male.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

@media (max-width: 768px) {
    .team-slider .person-1 {
        background-size: 37%;
        background-position-x: 50%;
    }
}

.team-slider .person-2 {
    background-image: url(img/Female-Avatar.png);
    background-repeat: no-repeat;
    background-size: 88%;
    background-position-x: 15px;
    background-position: center;
}

@media (max-width: 768px) {
    .team-slider .person-2 {
        background-size: 37%;
        background-position-x: 50%;
    }
}

.team-slider .person-3 {
    background-image: url(img/avatar-male.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

@media (max-width: 768px) {
    .team-slider .person-3 {
        background-size: 37%;
        background-position-x: 50%;
    }
}

.team-slider .person-4 {
    background-image: url(img/Female-Avatar.png);
    background-repeat: no-repeat;
    background-size: 88%;
    background-position-x: 15px;
    background-position: center;
}

@media (max-width: 768px) {
    .team-slider .person-4 {
        background-size: 37%;
        background-position-x: 50%;
    }
}


.img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #454140;
    opacity: 0;
}

.img-overlay-social {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(236, 169, 35);
    opacity: .9;
    display: grid;
    justify-content: center;
    align-items: center;
}


.social-ul {
    padding: 0;
}

.img-overlay:hover {
    opacity: .5;
}

.social-icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: rgb(236, 169, 35);
    color: white;
    border: 4px white solid;
}

.social-icon i {
    margin: auto;
}

.fa-icon {
    display: grid;
    justify-items: center;
    align-items: center;
}

.fa-icon-1 {
    display: flex;
}

.Services {
    background-color: #ffce07;
    padding-top: 130px;
    padding-bottom: 130px;
}

.img-Services {
    margin-top: 140px;
}

.h2-tech {
    margin-bottom: 60px;
}

.tech {
    margin-top: 80px;
}

.img-fire {
    width: 50px;
}


.best-content {
    overflow: hidden;
}

.bf-icon {
    width: 50px;
    float: left;
    margin-right: 18px;
}

.best {
    padding-top: 130px;
    padding-bottom: 130px;
}

.best-content {
    overflow: hidden;
}

.bf-icon {
    width: 50px;
    float: left;
    margin-right: 18px;
}

/* .img-best{
    margin: 50px;
} */
@media (max-width: 1280px) {
    .img-best {
        margin: 50px;
    }
}

.happy {
    background-image: url(img/happy-background.png);
    height: 690px;
}

.h2-happy {
    color: white;
    padding-top: 117px;
    font-size: 4.2rem;
    color: white;
}

.quote-left i {
    color: #454140;

}

.p-happy {
    color: #fff;
    line-height: 1.5;
    margin-bottom: 0;
    padding-top: 30px;
    line-height: 20px;

}

.freequently {
    padding-top: 130px;
    padding-bottom: 130px;

}

.btn-link-collapse {
    color: #54688b;

}

.card-header {
    background-color: #f0f5ff;
}

.card-collapse-p {
    color: #54688b;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 968px) {
    .project-container {
        grid-row-gap: 20px;

    }

    .project-container .card {
        grid-column: 1/-1;
    }
}

.Pricing {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.h2-pricing {
    margin-top: 15px;
}

.btn-Pricing {
    border-radius: 50px;
    color: white;
    background-color: #454140;
    padding: 20px;
    width: 61%;
    position: absolute;
}

.btn-Pricing:hover {
    color: #454140;
    background-color: white;
    border: 2px #454140 solid;
}

.Pricing-button-box {
    display: grid;
    align-items: center;
    justify-items: end;
}

@media only screen and (max-width: 768px) {
    .Pricing-button-box {
        justify-items: center;
        margin-top: 67px;
    }
}

.card .h2-title {
    font-size: 30px;
}

.card-group-Pricing {
    background-color: #fff;
}

.card-img-formany {
    background-image: url(img/formany.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    margin-top: 13%;
}

.card-img-pepehousing {
    background-image: url(img/pepehousing.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
    margin-top: 10%;
}

.card-img-inspiring {
    background-image: url(img/inspiring.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.card-img-catella {
    background-image: url(img/catella.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.card-img-heineken {
    background-image: url(https://www.drink-it.com/Admin/Public/GetImage.ashx?Image=/Files/Images/OldImages/blog/Logo-Heineken.jpg&Width=1340&Crop=5&Compression=90);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.card-img-tradler {
    background-image: url(https://uploads-ssl.webflow.com/5919bdd1a6ce0e40ed9872af/5e54442def8f342d0c86feca_Tradler_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    /*margin-top: 15%;*/
}

.card-img-talentgarden {
    background-image: url(https://334045-1026637-1-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/tag/assets/img/tag-orange.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;

}

.card-img-urbytus {
    background-image: url(https://www.urbytus.com/wp-content/uploads/2018/02/urbytus_logo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    /*margin-top: 15%;*/
}

.card-heineken {
    padding: 0 !important;
}

p.card-text{
    font-size: smaller;
}

/*@media (max-width: 768px){*/
/*    .card-heineken {*/
/*        margin-top: 0;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
    .card-catella {
        margin-top: 30px;
    }
}

.card-group-Pricing .row {
    justify-content: space-evenly;

}

.card-group-Pricing .card {

    display: grid;
    justify-items: center;
    align-items: flex-end;
    /* grid-template-rows: 100px 150px 200px 100px; */
    border-color: whitesmoke;
    /*padding: 20px;*/
}


@media (max-width: 768px) {
    .card-group-Pricing .card:nth-child(2) {
        margin: 30px 0px;
    }
}

.card-img-top {
    width: 170px;
    height: 177px;

}

.Pricing-span {
    font-size: 14px;
    color: #7587a6;
    font-weight: 500;
}

.col-custom-3 {
    width: 30%;
}

.btn-Pricing-2 {
    border-radius: 50px;
    font-size: 16px;
    text-transform: capitalize;
    background: #ebebff;
    border-color: #ebebff;
    color: #454140;
    padding: 20px 70px;
}

.btn-Pricing-2:hover {
    color: white;
    background-color: #454140;
}

.btn-Pricing-2-2 {
    border-radius: 50px;
    font-size: 16px;
    text-transform: capitalize;
    background: #ebebff;
    border-color: #ebebff;
    color: #454140;
    padding: 20px 70px;
}

.btn-Pricing-2-2:hover {
    color: white;
    background-color: #454140;

}

.faces {
    padding-top: 130px;
    padding-bottom: 80px;
}

.faces-name {
    /* margin-left: 30px; */
    display: grid;
    justify-items: center;
    align-items: center;
}

.faces-a {
    color: black;
}

.h2-faces {
    margin-bottom: 50px;
}

.img-face {
    border-radius: 60px;
}

.faces-img {
    margin-bottom: 50px;
}

.brand {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #454140;
}

.single-brand {
    text-align: center;
}

@media (max-width: 1280px) {
    .brand .col-12 {

        margin-bottom: 30px !important;
    }
}

.footer-1 {
    background-color: #152136;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    display: grid;
    justify-items: center;
}

/*.footer-text{*/
/*    padding: 50px;*/
/*}*/
.text-brand-footer {
    font-weight: 300;

}

.text-brand-footer:after {
    color: #454140;
    display: inline-block;
    content: "";
    margin-left: 2px;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #454140;

}

.img-logo-f {
    height: 50px;
    margin-bottom: 15px;
}

.footer-p {
    color: #7d8ca8;
    margin-top: 15px;
    text-align: center;
}

/* .footer-icon-box{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}




.footer-icon a{
    height: 70px;
    width: 70px;
    display:grid;
    align-items: center;
    justify-items: center;
    
}

.footer-icon-1 a{
    text-decoration: none;
    background: #19263d;
    line-height: 70px;
    border-radius: 50%;
    margin: 0 7px;
    color: #7d8ca8;
}
.footer-icon-2 a{ 
    text-decoration: none;
    background: #19263d;
    line-height: 70px;
    border-radius: 50%;
    margin: 0 7px;
    color: #7d8ca8;
}
.footer-icon-3 a{
    text-decoration: none;
    background: #19263d;
    line-height: 70px;
    border-radius: 50%;
    margin: 0 7px;
    color: #7d8ca8;
}
.footer-icon-4 a{
    text-decoration: none;
    background: #19263d;
    line-height: 70px;
    border-radius: 50%;
    margin: 0 7px;
    color: #7d8ca8;
}
.footer-icon-1 a:hover{
background-color: #454140;
color: white;
}
.footer-icon-2 a:hover{
    background-color: #454140;
    color: white;
}

.footer-icon-3 a:hover{
    background-color: #454140;
    color: white;
}

.footer-icon-4 a:hover{
    background-color: #454140;
    color: white;
 } */

.displayblock {
    display: block !important;
}

/* .displaynone{
   display: none !important;
}
            */


.atlann-aws {
    padding: 2% 0;
}

.spain-info,
.nl-info {
    padding-top: 5%;
}

.spain-info > li,
.nl-info > li {
    padding-top: 1%;
    font-size: 15px;
}